@import '~src/assets/scss/variables.scss';

.root {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    a {
        margin: 0 7px;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        color: #a6a6a6;
        transition: color 300ms ease-in-out;
        &.is-active {
            color: $primaryColor;
        }
    }
}
